body{
    background-color: cadetblue;
}

h1 {
    font-size:120px;
    height:160px;
    width:500px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
p{
    font-size: 20px;
    
}
img{
    height:120px;
   
}
